{% extends "index.html" %} {% block content %}
<div class="d-flex flex-column">
	<div class="d-flex justify-content-between">
		<img src="{{ album.picture.url }}" style="width: 250px; height: 250px" />
		<div class="d-flex flex-column justify-content-center">
			<h2>{{album.title}}</h2>
			<h4>{{album.genre}}</h4>
		</div>

		<div class="d-flex flex-column gap-2 justify-content-center">
			<a
				class="btn btn-outline-secondary w-100"
				href="{% url 'update-album' album.pk %}"
				>Edytuj informacje</a
			>
			<a
				class="btn btn-outline-danger w-100"
				href="{% url 'delete-album' album.pk %}"
				>Usuń</a
			>
		</div>
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center">
		<h2>Lista utworów</h2>

		<table class="table table-striped w-50">
			<thead>
				<tr>
					<th scope="col">Tytuł</th>
					<th scope="col">Długość</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for track in tracks %}
				<tr>
					<td>{{track.title}}</td>
					<td>{{track.duration}}</td>
					<td>
						<a
							href="{% url 'update-track' album.pk track.id %}"
							class="btn btn-outline-secondary"
							>&#9998;</a
						>
					</td>
					<td>
						<a
							href="{% url 'delete-track' album.pk track.id %}"
							class="btn btn-outline-danger"
							>&#10005;</a
						>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{% url 'add-track' album.pk %}" class="btn btn-outline-primary"
			>Dodaj utwór</a
		>
	</div>
</div>
{% endblock %}
