{% extends "index.html" %} {% block content %}
<h2>Albumy</h2>

<form
	method="GET"
	action="{% url 'albums' %}"
	class="d-flex flex-row justify-content-center align-items-center gap-2"
>
	{{form.as_p}}
	<input type="submit" value="Szukaj" class="btn btn-outline-primary" />
</form>

<div class="d-flex mt-5 flex-wrap justify-content-center" style="gap: 20px">
	{% for album in albums %}
	<div class="d-flex flex-column border border-secoundary rounded-3">
		<img src="{{ album.picture.url }}" style="width: 250px; height: 250px" />
		<h4>{{album.title}}</h4>
		<h5>Utwory: {{album.track_count}}</h5>
		<a href="{% url 'album-details' album.pk %}" class="btn btn-outline-primary"
			>Detale i lista piosenek</a
		>
	</div>
	{%endfor%}
</div>
{% endblock %}
